@using Sitecore.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cars'R'Us</title>
        <style>
            label, select, input {
                display: block
            }

            select, input[type=text] {
                margin-bottom: 20px;
                min-width: 250px;
                padding: 4px;
            }

            ul {
                margin: 25px 0 0;
                list-style-type: none;
                padding: 0;
            }

            li {
                margin-bottom: 25px;
            }

            h2, p {
                margin: 10px 0;
            }
        </style>
    </head>
    <body>
        <h1>Cars'R'Us</h1>
        <div>
            @Html.Sitecore().Placeholder("main")
        </div>
    </body>
</html>