@using Sitecore.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cars'R'Us</title>
    </head>
    <body>
        <h1>Cars'R'Us</h1>
        <div>
            @Html.Sitecore().Placeholder("main")
        </div>
    </body>
</html>