<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="purchased_car_make" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="purchased_car_model" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <field fieldName="done_business_with" storageType="YES" indexType="UNTOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
            </fieldNames>
            <fieldTypes hint="raw:AddFieldByFieldTypeName">
              <fieldType fieldTypeName="integer">
                <patch:attribute name="storageType">YES</patch:attribute>
              </fieldType>
              <fieldType fieldTypeName="datetime">
                <patch:attribute name="storageType">YES</patch:attribute>
              </fieldType>
              <fieldType fieldTypeName="single-line text">
                <patch:attribute name="storageType">YES</patch:attribute>
              </fieldType>
            </fieldTypes>
          </fieldMap>
          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="purchased_car_make">CarsRUs.Indexing.Fields.PurchasedCarMake, CarsRUs</field>
              <field fieldName="purchased_car_model">CarsRUs.Indexing.Fields.PurchasedCarModel, CarsRUs</field>
              <field fieldName="done_business_with">CarsRUs.Indexing.Fields.DoneBusinessWith, CarsRUs</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
